*{
	margin: 0;
	padding: 0;
}

.auth_page {
	background-color: rgb(204, 194, 184);
	width: 100dvw;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(2rem, 7vw, 8rem);
}

.card {
	background-color: rgb(230, 230, 230);
	width: clamp(22rem, 25rem, 27rem);
	height: clamp(44rem, 49rem, 52rem);
	border: 6px solid white;
	border-radius: 1.5rem;
	overflow: hidden;
}

/*login card*/
.login {
	background-color: rgb(247, 236, 223);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.company_section {
	position: relative;
	background-color: rgb(247, 236, 223);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.company_section .note_paper {
	position: absolute;
	width: 9rem;
	top: -120px;
	left: -40px;
	pointer-events: none;
	z-index: 0;
	opacity: 0.85;
	transform: rotate(15deg);
	filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.20));
}

.company_section h2 {
	position: relative;
	font-size: 2rem;
	z-index: 1;
}

.login_section {
	background-color: rgb(240, 240, 240);
	border-radius: 1.5rem 1.5rem 0 0;
	border: 5px solid white;
	flex: 2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.login_title {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form {
	flex: 5.5;
}

.login_form form {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 1.3rem;
	align-items: center;
	margin-top: 10px;
}

.login_form input, .login_form button {
	height: 2.5rem;
	width: 20rem;
	border: 1px solid black;
	border-radius: .6rem;
	
	padding: 0 0.75rem;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.30));
}

.login_form .login_button {
	font-size: 1rem;
	color: white;
	height: 2.8rem;
	background-color: rgb(20, 80, 30);
}

input:focus {
	outline: none;
	border: 2px solid rgb(40, 40, 40);
}

.login_footer {
	flex: 1.5;
}